@font-face {
  font-family: 'Boogaloo';
  src: local('Boogaloo'), url(./fonts/Boogaloo-Regular.ttf) format('truetype');
}

/* body */
.Title {
  font-family: 'Boogaloo';
  color: black;
  text-align: center;
  font-size: x-large;
}

/* @keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
