/* body */

h1 {
  margin-block-end: 0em;
}

.Title {
  font-family: 'Boogaloo';
  color: black;
  text-align: center;
  font-size: 200%;
}

/* @keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
