@font-face {
  font-family: 'Boogaloo';
  src: local('Boogaloo'), url(./fonts/Boogaloo-Regular.ttf) format('truetype');
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: sans-serif;
}


.container {
  position: relative;
  margin: 0 auto;
  border-radius: 3px;
}

@media (min-width: 769px) {
  .container {
    margin: 2.5rem auto;
  }
}

/* Start Page */
.startPage {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  text-align: -webkit-center;
}

.subtitle {
  font-family: 'Boogaloo';
  font-size: xxx-large;
  color: teal;
  padding: 20px;
  margin: 60px;
  text-align: center;
}

.auma {
  justify-content: center;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* Quiz Component */
/* Question Component */
.question {
  font-family: 'Boogaloo';
  font-size: xxx-large;
  color: teal;
  padding: 30px;
  margin: 0;
  text-align: center;
}


.choices {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
}

/* AnswerOption Component */
.answerOption {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Result Component */
.result {
  padding: 1.5rem 2.5rem;
}


/* Animation */
.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out 0.3s;
}

.fade-leave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-appear {
  opacity: 0;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.isma {
  background-image: url('./skool_ai/isma.jpg');
}

.taha {
  background-image: url('./skool_ai/taha.jpg');
}

.moal {
  background-image: url('./skool_ai/moal.jpg');
}

.khna {
  background-image: url('./skool_ai/khna.jpg');
}

.lena {
  background-image: url('./skool_ai/lena.jpg');
}

.rofa {
  background-image: url('./skool_ai/rofa.jpg');
}

.oumi {
  background-image: url('./skool_ai/oumi.jpg');
}

.arthur {
  background-image: url('./skool_ai/arthur.jpg');
}

.theo {
  background-image: url('./skool_ai/theo.jpg');
}

.img-circle {
  border-radius: 50%;
  max-width: 100%; 
  height: auto;
  display:block;
}

.result-div {
  margin: 0 auto;
  width: 300px; 
  margin-top: auto;
}

.rowSkoolIA{
  margin: 10px;
}